<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brenn_und_Plasmaschneidanlage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brenn_und_Plasmaschneidanlage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Brenn_und_Plasmaschneidanlage.Properties.Settings>
            <setting name="fontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </Brenn_und_Plasmaschneidanlage.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Brenn_und_Plasmaschneidanlage.Properties.Settings>
            <setting name="standardDirectoryPath" serializeAs="String">
                <value>C:\Users\Michael\Documents\</value>
            </setting>
            <setting name="subProgramDirectoryPath" serializeAs="String">
                <value>C:\Users\Michael\Documents\Visual Studio 2017\Projects\DA8_BUPSA\Brenn_und_Plasmaschneidanlage\Unterprogramme\</value>
            </setting>
        </Brenn_und_Plasmaschneidanlage.Properties.Settings>
    </applicationSettings>
</configuration>